/* Mimic standard Nebular Auth Layout */
:host {
  display: block;
}

nb-auth-block {
  display: block;
  max-width: 500px; /* Standard auth card width */
  margin: 0 auto;
}

.title {
  margin-bottom: 0.5rem;
  color: #222b45;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.sub-title {
  color: #8f9bb3;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

.form-control-group {
  margin-bottom: 1.5rem; /* Space between inputs */
}

.label {
  color: #8f9bb3;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  display: block;
}

/* Error message text */
.caption {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  display: block;
}
.status-danger {
  color: #ff3d71; /* Nebular Danger Red */
}

.links {
  margin-top: 2rem;
  text-align: center;
}

.link {
  color: #3366ff; /* Nebular Primary Blue */
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  transition: color 0.2s;

  &:hover {
    color: #274bdb;
    text-decoration: underline;
  }
}