<nb-auth-block>
  <h2 class="title">Change Password</h2>
  <p class="sub-title">Please enter and confirm your new password.</p>

  <form (ngSubmit)="resetPass()" #form="ngForm" aria-labelledby="title">
    
    <div class="form-control-group">
      <label class="label" for="input-password">New Password:</label>
      <input nbInput fullWidth
             [(ngModel)]="password"
             #passwordInput="ngModel"
             name="password"
             type="password"
             id="input-password"
             placeholder="New Password"
             fieldSize="large"
             required
             minlength="4"
             [status]="passwordInput.dirty ? (passwordInput.invalid  ? 'danger' : 'success') : 'basic'">
      
      <ng-container *ngIf="passwordInput.invalid && passwordInput.touched">
        <p class="caption status-danger" *ngIf="passwordInput.errors?.required">
          Password is required!
        </ng-container>
    </div>

    <div class="form-control-group">
      <label class="label" for="input-confirm-password">Confirm Password:</label>
      <input nbInput fullWidth
             [(ngModel)]="confirmPassword"
             #confirmPasswordInput="ngModel"
             name="confirmPassword"
             type="password"
             id="input-confirm-password"
             placeholder="Confirm Password"
             fieldSize="large"
             required
             [status]="confirmPasswordInput.dirty ? (password !== confirmPassword ? 'danger' : 'success') : 'basic'">
      
      <ng-container *ngIf="confirmPasswordInput.dirty">
        <p class="caption status-danger" *ngIf="password !== confirmPassword">
          Passwords do not match!
        </p>
      </ng-container>
    </div>

    <button nbButton fullWidth status="primary" size="large" 
            [disabled]="submitted || !form.valid || password !== confirmPassword"
            [class.btn-pulse]="submitted">
      Change Password
    </button>

  </form>

  <div class="links col-sm-12">
    <a routerLink="/auth/login" class="link">Back to Log In</a>
  </div>
</nb-auth-block>